/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body styling with gradient background */
body {
  background: #e55d87; /* Fallback for old browsers (single color) */
  background: linear-gradient(
    to right,
    #e55d87,
    #5fc3e4
  ); /* Gradient background */
}

/* Styling for the unordered list */
ul {
  max-height: 300px;
  overflow-y: auto; /* Enabling vertical scrolling if the list exceeds the max height */
}

/* Styling for individual list items */
.list-group-item {
  cursor: pointer; /* Change cursor to pointer when hovering over list items */
  word-wrap: break-word; /* Ensures text wraps within the list item */
  overflow-wrap: break-word; /* Ensures text breaks into multiple lines if it's too long */
}

/* Active list item styling */
.list-group-item.active {
  background-color: #0d6efd; /* Blue background when item is active */
  color: white;
}

/* Media query for screens with max-width of 767.5px (for smaller devices) */
@media (max-width: 767.5px) {
  /* Button container adjustments */
  #buttons {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* Box adjustments */
  .todobox,
  .completebox {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* Remove task button adjustments */
  #removeTaskBtn {
    margin-top: 10px;
  }
}
