* {
    margin: 0;
    padding: 0;
  }
  
  #box {
    width: 40vw;
    border: 1px solid rgb(19, 124, 173);
    color: rgb(19, 124, 173);
    background-color: rgb(215, 236, 247);
  }
  
  
  .icons {
    cursor: pointer;
  }
  
  .icons i {
    color: rgb(19, 124, 173);
  }
  
  .icons:hover {
    background-color: rgb(215, 236, 247);
  }
  