/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the Contact Page Content Box */
#box {
  width: 40vw;
  border: 1px solid rgb(19, 124, 173);
  color: rgb(19, 124, 173);
  background-color: rgb(215, 236, 247);
}

/* Styling for Contact Links Section */
#contact-links {
  font-weight: bold;
}

/* Styling for Icons */
.icons {
  cursor: pointer;
}

/* Icon Color */
.icons i {
  color: rgb(19, 124, 173);
}

/* Hover Effect for Icons */
.icons:hover {
  background-color: rgb(215, 236, 247);
}

/* Footer Styling */
footer {
  width: 25%;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 690px) {
  /* Adjust footer width for smaller screens */
  footer {
    width: 50%;
  }
}
