* {
  margin: 0;
  padding: 0;
}

#box {
  width: 40vw;
  height: 30vh;
  border: 1px solid rgb(19, 124, 173);
}

#heading-box {
  background-color: rgb(247, 189, 189);
}

#web-safe-color-generator-button {
  background-color: #672a4e;
  font-size: large;
  cursor: pointer;
}
