/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Styling for the main content box */
#box {
  width: 30%;
  height: 40%;
  border: 1px solid rgb(19, 124, 173);
}

/* Heading Box Background Color */
#heading-box {
  background-color: rgb(247, 189, 189);
}

/* Styling for the Web Safe Color Generator Button */
#web-safe-color-generator-button {
  background-color: #672a4e;
  font-size: large;
  cursor: pointer;
}

/* Footer Styling */
footer {
  width: 25%;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 690px) {
  /* Adjust footer width for smaller screens */
  footer {
    width: 50%;
  }
}
