* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Newsreader", serif;
  background-color: #164e87;
  background-image: linear-gradient(62deg, #7aaada 0%, #8c26eb 100%);
  color: #000000;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0.7% 3% 0.7% 5%;
  margin-bottom: 13px;
  box-shadow: 0px 10px 5px rgba(16, 1, 1, 0.1);
}

/* Navbar look for large device*/
.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Navbar look for small and medium sized devices */
.nav-2 {
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  display: none;
}

/* Navigation Bar Links */
.nav-1 ul {
  font-weight: bolder;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-2 ul {
  font-weight: bolder;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}

/* Toggle button for small and medium sized devices */
.toggle-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

h4,
h3,
h2,
h1 {
  font-family: "DM Serif Text", serif;
}

/* Main container of the webpage */
.main-container {
  display: flex;
  flex-direction: column;
}


.row1 {
  margin: 0px 17px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: space-evenly;
  height: 90vh;
}

/*Left Sidebar with Linkedin Embed*/
.sidebar1 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 5px rgba(16, 1, 1, 0.1);
  border: 1.5px solid black;
  width: 25%;
  padding: 3px;
  box-sizing: border-box;
}

/*Center div with the profile image and about section */
.content-box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 10px 5px rgba(16, 1, 1, 0.1);
  border: 1.5px solid black;
  width: 45%;
  padding: 5%;
  box-sizing: border-box;
}

.content-box h4 {
  margin-top: 20px;
  font-size: 1.1rem;
}

.content-box ul {
  list-style: disc;
  margin-left: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

/* Social media links */
.social-links {
  display: flex;
  gap: 12px;
}

/* Styling for the profile image */
.profile-image img {
  border: 1.5px solid black;
  border-radius: 50%;
}

/* Resume button */
button {
  margin-top: 20px;
  width: 75px;
  font-size: 15px;
  padding: 9px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: #0d6efd;
}

button a {
  text-decoration: none;
  color: white;
  font-family: "Newsreader", serif;
}

/* Section showing about and achievements */
.central-section-details {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 55%;
}

.section1,
.section2 {
  border: 1.5px solid black;
  width: 50%;
  background-color: #ffffff;
}

.section1 p {
  line-height: 1.5;
  margin-top: 7px;
  padding: 0 3px;
}

.section2 ul {
  margin-top: 7px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.8;
}

/* Right sidebar */
.sidebar2 {
  background-color: white;
  border-radius: 5px;
  border: 1.5px solid black;
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
/*Two divs inside the right sidebar containing Skills and Internships */
.rsidebar1,
.rsidebar2 {
  margin-top: 23px;
  box-shadow: 0px 10px 5px rgba(16, 1, 1, 0.1);
  border: 1.5px solid black;
  background-color: #ffffff;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.rsidebar1 h3 {
  font-size: 30px;
  font-weight: 100;
  padding-left: 17px;
  padding-top: 10px;
  margin-bottom: 10px;
}

/*The content of right sidebar */
.content {
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
}

.content ul {
  padding-left: 45px;
  line-height: 1.5;
}

.rsidebar2 {
  border: 1.5px solid black;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.rsidebar2 h3 {
  font-size: 30px;
  font-weight: 100;
  padding-left: 17px;
  padding-top: 10px;
  margin-bottom: 10px;
}

/*Animation for the divs and resume button on hovering upon them*/
button,
.rsidebar1,
.rsidebar2,
.custom-div,
svg {
  transition: transform 0.8s ease;
}

/*Animation for the divs and resume button on hovering upon them*/
.rsidebar1:hover,
.rsidebar2:hover,
button:hover,
.custom-div:hover,
svg:hover {
  transform: scale(1.1);
}

.row2 {
  margin-left: 17px;
  margin-right: 17px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
/* The three divs in row2 containing certification, basic info and projects */
.custom-div {
  height: 250px;
  display: flex;
  width: 33%;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 10px 5px rgba(16, 1, 1, 0.1);
  padding: 40px;
  line-height: 1.8;
  border: 1.5px solid black;
  box-sizing: border-box;
}

/*The content of each div in row2 */
.pcontent {
  background-color: #ffffff;
  width: 100%;
  border-radius: 5px;
}

footer {
  background-color: transparent;
  color: #000000;
  border-radius: 8px;
  padding: 15px 0;
}

/* Media queries for responsive design for various device widths */

/* For large devices */
@media (max-width: 1230px) {
  .row1 {
    height: 97vh;
  }
}
@media (max-width: 1137px) {
  .row1 {
    height: 95vh;
  }

  .content-box {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1110px) {
  .row1 {
    height: 98vh;
  }
}

@media (max-width: 1046px) {
  .row1 {
    height: 105vh;
  }
}

@media (max-width: 1030px) {
  .row1 {
    height: 109vh;
  }

  .toggle-btn {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .section2 ul {
    line-height: 1.5;
  }
}

/* For medium sized devices */
@media (max-width: 975px) {
  .central-section-details {
    height: 65%;
  }
}

@media (max-width: 943px) {
  .part2 {
    padding-left: 30px;
    padding-right: 20px;
  }
}

@media (max-width: 895px) {
  .row1 {
    height: 112vh;
  }

  .central-section-details {
    height: 60%;
  }
}

@media (max-width: 892px) {
  .custom-div {
    padding: 20px;
  }

  .content-box {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 848px) {
  .row1 {
    height: 120vh;
  }
}

@media (max-width: 830px) {
  .row1 {
    flex-direction: column;
    height: 200vh;
  }
  .sidebar1,
  .content-box,
  .sidebar2 {
    width: 100%;
  }

  .content-box {
    height: 40%;
  }

  .central-section-details {
    height: 45%;
  }
}

@media (max-width: 820px) {
  .custom-div {
    height: 300px;
  }
}

/* For small sized devices */
@media (max-width: 775px) {
  .row2 {
    flex-direction: column;
    margin-right: 16px;
  }
  .custom-div {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 555px) {
  .content-box {
    height: 50%;
  }

  .central-section-details {
    height: 50%;
  }
}

/* For extra small sized devices */

@media (max-width: 507px) {
  .central-section-details {
    height: 50%;
  }
}
